div{
    width: 100%;
    height: 400px;
    background-color: gray;
    background-image: url(bird-colorful-logo-gradient-vector.png),url(coding_image.png);
    background-repeat: no-repeat,no-repeat ;
    background-position: center,center;
    background-size: 30%,cover;
    border-radius: 30px;
}
.div1{
    width: 300px;
    height: 150px;
    back
}